.content-style{
   
    border-radius: 4px;
    padding: 10px;
    margin: 4px 10px;
}
.button {
    border-radius: 4px;
    padding: 0px 20px;
    background-color:white;
    color:black;
    text-align: center;
  }

