

 <div class="container">
    <div class="heading">
        <p> Otobox Download</p>
    </div>
   
    <div class="child1"> 
        <div class="grid-image">
            <img style="width: 75%;" src="/assets/images/oto icon-04.png" >   
        </div>  
        
        <div class="grid-content">
           <span class="topic" > What is Otobox? </span><br>
           <br>
            Otobox is designed to be an invisible app. It gives you a folder on your computer that automatically backs up and syncs your files across all your devices. It also keeps them in the cloud
            so you can access them from any computer, anywhere in the world. You can use Otobox for share files with your team.
        </div>    
        
         
    </div>

    <div class="child2">
        <div class="grid-item">
            <span class="topic" >Prerequister</span><br>
            <p>
                  <li>
                   Otobox Application
                   <br>
                   <a (click)="downloadDMS()">Download</a>
                  </li>
            </p>
            </div>
            <div class="grid-item">
                <span class="topic" >How to use ?</span>
                <p>
                <li>Initially download and install Otobox application in your local system</li>
               <li>After that install Otobox exe file, and open it</li>
               <li>Signin with your valid credtials into Otobox application</li>
               <li>Then it will start sync automatically inside the Otobox folder, which is present in your quick access</li>
                </p>
            </div>
            <div class="grid-item">
                <span class="topic" > How to Share folders ? </span>
                <p>
               <li>Login to your Otomate account</li>
               <li>Navigate into document section</li>
               <li>Right click on the folder you want to share, and give valid data in <b>"Share with"</b> option</li>
        
                </p>
            </div>
    </div>
