<div style="background-color: white;">

  <mat-tab-group>
    <mat-tab label=" Contact Category">
        <app-category></app-category>
    </mat-tab>
      <!-- <mat-tab label="Contact Sub Category">
    <app-sub-category></app-sub-category>
    </mat-tab>

    <mat-tab label="Contact Type 1">
   <app-contact-type1></app-contact-type1>
    </mat-tab>

    <mat-tab label="Contact Type 2">
    <app-contact-type2></app-contact-type2>
    </mat-tab>>  -->

    <mat-tab label="Contact Functionality">
    <app-functionality></app-functionality>
    </mat-tab>


  </mat-tab-group>

</div>