.editor{
    flex: content;
    margin: 8px;
    
}
.editor-container{
    height: 86%;
}

.my-btn{
    margin-right: 6px;
}
.approve-btn{
//background-color: green;
color: green;
}

.editor-container{
    margin: 0px 10px;
}