

    <mat-toolbar class="header">
       <!--  <span>
          <button mat-button class="wt">Features</button>
          <button mat-button class="wt">Docs</button>
          <button mat-button class="wt">Price</button>
          <button mat-button class="wt">Resource</button>
          <button mat-button class="wt">About Us</button>
        </span> -->
        
          <!-- <span class="flex-spacer"></span>
          <button mat-button class="wt" [routerLink]="'../register-admin'">GET STARTED</button> -->
  
      </mat-toolbar>
  <div>
    <div class="section" >
      <div class="row">
        <div class="col-md-6" style="text-align: center;">
          <img   src="./../../../assets/icons/product-logo.svg" class="logo" > 
        </div>
        <div class="col-md-6" style="text-align: center;">
          <h1 class="heading">Small Tasks can add to make</h1>
          <h1 class="heading"> a big progress</h1>
          <button class="getstarted" [routerLink]="'../register-admin'">GET STARTED</button>
        </div>
      </div>
  
    </div>
    <div >
     

      <!-- <div class="container">
        <div *ngFor="let contents of content">
         <span> {{contents.name}}</span>
        </div>
        <button mat-buttonb (click)="file()"> Download</button>

      </div> -->
      <div class="col section1">
        <div class="col">
          <h1 class="wel">Welcome</h1><br>

          <!-- <button mat-flat-button class="wt" color="primary" [routerLink]="'/login'">Login</button> -->
          <div class="button button-1" [routerLink]="'/login'"> Login</div>
         
        </div>
      </div>

   
   
  
    </div>
  
  </div>
     
     
  
    
  
  
  
  
  
  
      
        
    
  