
.label {
  font-weight: 580;
  font-size: 15px; 
  vertical-align: middle;
}
.labelhead{
  font-weight: 590;
  font-size: 17px; 
  vertical-align: middle;
}

.icon {
  font-size: 20px;
  vertical-align: middle;

}

.icon-head {
  font-size: 23px;
  vertical-align: middle;

}

.contact-row {
  border-bottom: 1px solid #ccc;
}

