@use 'src/styles/variables' as var;


.currentUser{
  float: right;
/*   background-color: var.$primary !important; */
background-color: #128C7E !important;
  color:white !important;
 
}

.others{
  float: left;
  color:rgb(0, 0, 0) !important;
}

#chat-header{
  font-weight: bold;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e3e3e3;
  padding: 10px;
}

.close{
  cursor: pointer;
  font-size: 1.5em;
  color: red;
}

#chat-body{
  height: calc(100% - 120px);
  overflow-y: scroll;
  padding: 10px;
  background-color: #ffffff;
  background-image:  repeating-linear-gradient(45deg, #f8faff 25%, transparent 25%, transparent 75%, #f8faff 75%, #f8faff), repeating-linear-gradient(45deg, #f8faff 25%, #ffffff 25%, #ffffff 75%, #f8faff 75%, #f8faff);
  background-position: 0 0, 14px 14px;
  background-size: 28px 28px;

  .bubble{
    background-color: #E5E4E9;
    color: rgb(0, 0, 0);
    width: fit-content;
    min-width: 40%;
    max-width: 60%;
    padding: 8px 12px;
    border-radius: 20px;
    margin: 8px 10px;
    .text{
      font-size: 14px;
    
    }
    .attachment{
      margin:4px 0px;
      width: 240px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border: rgba(73, 30, 158, 0) solid 1px;
      background-color: #a7a7a7;
      color: rgb(255, 255, 255);
      padding: 5px;
    }
    .footer{
      text-align: end;
      font-size: 12px;
      color: rgb(193, 193, 193);
    }
  }
}


#chat-footer{
  background-color: #f5f5f5;
  border-top: 1px solid #e3e3e3;
  padding: 15px;

  .input{
    width: 100%;
    height: 50px;
   // display: block;
     
  }
  textarea:focus {
    border-color: var.$primary;
    box-shadow: 0 0 0 0.1rem rgba(74, 40, 167, 0.25);
    }
 
}

.parent {
  display: grid;
  grid-template-columns: 8fr 1fr 1fr; 
  }
  


  textarea{
    width: 100% !important;
    border: none;
    border-bottom: 1px solid #e3e3e3;
    padding: 5px;
    font-size: 14px;
    color: #333;
}

.fileName{
  margin-left: 10px;
  white-space: nowrap; 
  width: 60%; 
  border-radius: 10px;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.left{
  color:rgb(0, 0, 0) !important;
}
.right{
  color:rgb(255, 255, 255) !important;
}
.fileLeft{
  color: rgb(255, 255, 255);
}
.fileRight{
  color: rgb(255, 255, 255);

}
