input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
.close-btn{
    color:red;
    background-color: white
  }
  div.sticky {
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 3; 
    background: whitesmoke
  
  }

  
  /* Add some styling to the file input container */
.file-input-container {
  display: flex;
  align-items: center;
}

/* Add some spacing between the button and the input field */
.file-input-container button {
  margin-right:3px;
}

/* Add some padding to the form field */
.mat-form-field {
  padding: 5px;
}

.file-input-container {
  border: 1px solid #ccc; /* Optional: Add a border to make it look like an input field */
}

.remove-icon {
  font-size: 15px;
  color: red; /* Set the color of the remove icon to red */
}

.file-icon {
  font-size: 15px;
}
