<br>
<table class="table">
    <thead>
      <tr>
        <th scope="col" > <div loading>&nbsp;</div> </th>
        <th scope="col"><div loading>&nbsp;</div></th>
        <th scope="col"><div loading>&nbsp;</div></th>
        <th scope="col"><div loading>&nbsp;</div></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of loading">
        <th scope="row"><div loading>&nbsp;</div></th>
        <td><div loading>&nbsp;</div></td>
        <td><div loading>&nbsp;</div></td>
        <td><div loading>&nbsp;</div></td>
      </tr>

    </tbody>
  </table>
