
<h2 mat-dialog-title><span *ngIf="!update">Create </span>
  <span *ngIf="update">Edit </span>Document Type</h2>
  <mat-dialog-content style="width: 40vw; max-height: 70vh; overflow-y: auto; overflow-x: hidden;">
    <div [formGroup]="typeForm">
        <div class="row">
          <div class="col">
            <mat-form-field appearance="standard" class="full-width">
              <mat-label>Type Code</mat-label>
              <input matInput required formControlName="code" >
              <mat-error>
                Please Enter Type  Code
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="standard" class="full-width">
              <mat-label>Type Name </mat-label>
              <input matInput required formControlName="name">
              <mat-error>
                Please Enter Type  Name
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="standard" class="full-width">
                    <mat-label>Document Category</mat-label>
                 <mat-select required formControlName="documentCategoryId">
                  <div class="sticky">
                    <input matInput style="width: 100%; padding: 15px;" #deptCat placeholder="Search Document Category"  >
                  </div>
                     <mat-option *ngFor="let category of category$ |async |search:'name':deptCat.value" 
                     [value]="category.id">
                      {{category.name}}
                     </mat-option>
                 </mat-select>
                 <mat-error>
                  Please Select Your Category
                </mat-error>
                  </mat-form-field>
            </div>
            <!-- <div class="col" >
                <mat-form-field appearance="standard" class="full-width">
                    <mat-label>Contact Category</mat-label>
                 <mat-select required formControlName="contactCategory" multiple>
                  <div class="sticky">
                    <input matInput style="width: 100%; padding: 15px;" #contact placeholder="Search Contact Category"  >
                  </div>
                     <mat-option *ngFor="let category of contactCategory$ |async |search:'name':contact.value"
                      [value]="category.id">
                        {{category.name}}
                     </mat-option>
                 </mat-select>
                 <mat-error>
                  Please Select Your Important
                </mat-error>
                  </mat-form-field>
            </div> -->
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="standard" class="full-width">
              <mat-label>Size Limit</mat-label>
              <input matInput required formControlName="size" placeholder="Ex. 10 MB" numberOnly>
             <!--  <span matSuffix>MB</span> -->
              <mat-hint >This value should be in Mega Byte</mat-hint>
              <mat-error>
                Please Enter Size Limit
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="standard" class="full-width">
              <mat-label>Document Validity</mat-label>
              <input matInput required formControlName="validity" placeholder="Ex. 45 Days" numberOnly>
             <!--  <span matSuffix>Days</span> -->
              <mat-hint >This value should be in Days</mat-hint>
              <mat-error>
                Please Enter Storage Plan
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div formArrayName="customFields">
          <div *ngFor="let fields of fieldForms.controls; 
      let i=index" [formGroupName]="i" style="margin: 12px 1px;" (mouseenter)='showIcon(i)'>
            <div [ngClass]="{'active-card': i == index}" class="field">
    
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="legacy" class="full-width">
                    <mat-label>Field Name</mat-label>
                    <input matInput formControlName="name" required>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field appearance="legacy" class="full-width">
                    <mat-label>Field type</mat-label>
                    <mat-select #field formControlName="type" required >
                      <mat-option value="text">
                        <!--<mat-icon>short_text</mat-icon> -->
                        Short Answer
                      </mat-option>
                      <mat-option value="number">
                        <!-- <mat-icon>pin</mat-icon> -->
                        Number
                      </mat-option>
                      <mat-option value="email">
                        <!-- <mat-icon>pin</mat-icon> -->
                        Email
                      </mat-option>
                      <mat-option value="tel">
                        <!-- <mat-icon>pin</mat-icon> -->
                        Tel
                      </mat-option>
                      <mat-option value="select">
                        <!-- <mat-icon>arrow_drop_down_circle</mat-icon> -->
                        Drop-down
                      </mat-option>
                      <mat-option value="radio">
                        <!-- <mat-icon>radio_button_checked</mat-icon> -->
                        Radio Group
                      </mat-option>
                      <mat-option value="textarea">
                        <!--  <mat-icon>subject</mat-icon>  -->
                        Paragraph
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div *ngIf="i==index">
                  <div class="row">
                    <div class="col" *ngIf="field.value=='select'">
                      <mat-form-field appearance="standard" class="full-width">
                        <mat-label>Select Reference</mat-label>
                        <mat-select formControlName="reference" required>
                          <mat-option *ngFor='let item of $fields' [value]="item.value">{{item.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div>
                      <div class="col" *ngIf="field.value=='text' || field.value=='number'">
                        <mat-form-field appearance="standard" class="full-width">
                          <mat-label>Length of this field</mat-label>
                          <input type="number" matInput formControlName="maxLength" required>
                        </mat-form-field>
                      </div>
                      <div class="col" *ngIf="field.value!=null">
                        <mat-form-field appearance="standard" class="full-width">
                          <mat-label>Required Status</mat-label>
                          <mat-select  formControlName="required" required >
                            <mat-option  [value]=1>Mandatory</mat-option>
                            <mat-option [value]=0 >Not Mandatory</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
    
                  <span class="remove">
                    <button mat-icon-button color="warn" (click)="onDelete(i)" >
                      <mat-icon color="warn">remove_circle</mat-icon>
                      <span>Remove</span>
                    </button>
                  </span>
                </div>
              </div>
    
            </div>
          </div>
    
    
    
    
        </div>
      </div>
</mat-dialog-content>
<div class="footer">
  <a  [matMenuTriggerFor]="fields">Add new field</a>

    <!--Menu fields-->
    <mat-menu #fields="matMenu">
      <div id="field">
        <button mat-menu-item (click)="addField()">Custom Field</button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)='addDefinedField(item)' *ngFor="let item of formFields">{{item.name}}</button>
      </div>

    </mat-menu>
    <div class="float-rt">
      <button mat-button mat-dialog-close>Close</button> &nbsp;
      <button mat-flat-button color='primary' (click)="addItem()" *ngIf="!update">Save</button>
      <button mat-flat-button color='primary' (click)="updateType()" *ngIf="update">Update</button>
    </div>
</div>   
