.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }

.nodata-container
{
height: 62vh;
 overflow-y: scroll;
}
.inside-table
{   
   height:50%;
   width: 50%;
   border: 1px solid #ddd;
    border-collapse: collapse;
    margin-top:200px;
    margin-left:300px;
    margin-bottom: 20px;
    justify-content:center;
}