<mat-dialog-content>
    <form  [formGroup]='statusForm'>
      <div class="col">
        <mat-form-field appearance="standard" class="full-width">
            <mat-label>Generic Status</mat-label>
            <mat-select formControlName="genericStatus" required>
              <mat-option *ngFor="let item of genericStatus" [value]="item">
                {{item}}
              </mat-option>
            </mat-select>
            <mat-error>
                      please select any status
            </mat-error>
      
          </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="standard" class="full-width">
          <mat-label>Customised Status</mat-label>
          <input matInput required formControlName="customizedStatus" >
          <mat-error>
             
          </mat-error>
        </mat-form-field>
  </div>
                    
     </form> 

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
    <button mat-flat-button color='primary' *ngIf='!update'
    (click)="addItem()" >Add</button>
    <button mat-flat-button color='primary' *ngIf='update'
    (click)="updateStatus()">Update</button>
  </mat-dialog-actions>