<mat-dialog-content >
    <div [formGroup]="subDeptForm" class="container" fxLayoutAlign="center center" fxFlexFill fxLayout='column'>
       <div class="row">
         <div class="col" >
          <mat-form-field appearance="standard" class="full-width">
            <mat-label>Department</mat-label>
            <mat-select required formControlName="departmentId">
              <ng-container *ngIf="dept$ |async as dept">
                <div class="sticky">
                <input matInput style="width: 100%; padding: 15px;"  placeholder="Search Department" *ngIf="dept!.length>=6" #dept (keyup)="getDept(dept)">
                </div>
                <mat-option *ngFor= "let item of dept | search:'departmentName':dept.value" 
                [value]="item.id" (click)="getId(item)">
                {{item.name}}
               </mat-option>  
              </ng-container>
               </mat-select>
               <mat-error>
                 Please Select Department
               </mat-error>
              </mat-form-field>
         </div>
         <div class="col">
          <mat-form-field appearance="standard" class="full-width">
            <mat-label>Sub Department Code</mat-label>
            <input matInput required formControlName="code">
            <mat-error>
              Please Enter Your Sub Department Code
            </mat-error>
          </mat-form-field>
         </div>
       </div>
        
  
        <mat-form-field appearance="standard" class="full-width">
            <mat-label>Sub Department</mat-label>
            <input matInput required formControlName="name" >
            <mat-error>
              Please Enter Your Sub Department
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="standard" class="full-width">
            <mat-label>Description</mat-label>
            <input matInput  formControlName="description" >
          </mat-form-field>
      
      </div>  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button mat-flat-button color='primary' *ngIf='!update'
  (click)="addItem()" >Add</button>
  <button mat-flat-button color='primary' *ngIf='update'
  (click)="updateSubDept()">Update</button>
</mat-dialog-actions>

