<div>
  <mat-toolbar style="height: fit-content; padding: 10px;">
    <div class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
      (keyup)="applyFilter($event)" #input>
    </div>
    
 
    <span class="flex-spacer"></span>
   <!--  <button mat-button color='primary' style="margin-right: 12px;">Import</button> -->
    <button mat-button color='primary' style="margin-right: 12px;" (click)=' addNew()' [disabled]="isEnable('creation')">New</button>
  </mat-toolbar>
  
  <div >
  
    <div  class="table-container" >
  
      <ng-container *ngIf="(specificskill$ |async) as specificskill; else loading">
        <ng-container *ngIf="specificskill==='error'; else table">
          <app-error></app-error>
        </ng-container>
        <ng-template #table> 
          <ng-container *ngIf="dataSource.data.length>0; else noData">
            <table mat-table [dataSource]="dataSource" matSort  (matSortChange)="sortData(dataSource)">

              <!-- Emp specific skills Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Emp Specific Skills  </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
            
            <!-- Description Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
            
            <!--   Action Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element"> 
                  <span><button mat-icon-button matTooltipClass="example-tooltip-red" matTooltipPosition='right'
                    [disabled]="isEnable('updation')" matTooltip='Edit' (click)="edit(element)"><i class="bi bi-pencil-fill"></i></button></span>
                <button mat-icon-button matTooltipClass="example-tooltip-red" matTooltipPosition='right' matTooltip='Delete'
                [disabled]="isEnable('deletion')" (click)="deleteItem(element)"><i class="bi bi-trash-fill"></i></button>
                </td>
              </ng-container> 
            
            
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            class="element-row"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
            </table>
          </ng-container>
          <ng-template #noData>
            <div class="nodata-container">
              <img src="./../../../../assets/icons/no-data-01.svg" alt="No Data" class="no-data">
              <div>Oops! Seems like there's<br>nothing in this folder yet. </div>
              <button mat-flat-button color="primary" (click)="addNew()" [disabled]="isEnable('creation')">Add New</button>
            </div>
          </ng-template>
        </ng-template>
        
      </ng-container>
      <ng-template #loading>
        <ng-container >
           <app-table-loading></app-table-loading>
        </ng-container>

      </ng-template>
    </div>
  
  </div>
</div> 


<mat-paginator [pageSizeOptions]="[10,30, 25, 100]" (page)="pageChanged($event)"aria-label="Select page of users"></mat-paginator>





